@{
    ViewData["Title"] = "Setting Page";
}
<link rel="stylesheet" href="~/css/setting.css" />
<section class="dx-viewport">
    @* <div id="tabPanel"></div> *@
    <div id="machineContainer"></div>
</section>
@section Scripts {
    <script src="~/js/setting.js" asp-append-version="true"></script>
}
