@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" />
<h3 style="font-weight: 200; text-align: center;">
    AVC MACHINE MONITORING SYSTEM
</h3>
<div id="gridContainer"></div>
@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
}